flask
langgraph
langchain
openai
pymongo
transformers
python-dotenv
langchain_google_genai
pandas
numpy
scikit-learn
xgboost
flask_bcrypt
tavily
google-cloud-texttospeech
sentence-transformers
torch 
faiss-cpu
